<html>

<h1>Welcome to my page!</h1>
{% if env %}
<p>The environemnt variable value is: {{ env }}</p>
{% else %}
<p>The environemnt variable value was not set</p>
{% endif %}
{% if properties %}
<p>The properties are:</p>
{% for prop in properties %}
<li>{{ prop }}</li>
{% endfor %}
{% else %}
<p>The properties were not set</p>
{% endif %}
<p></p>
<form action="/submit_query" method="POST">
    Query: <input type="text" name="query">
    <input type="submit" name="submit_query" value="Submit">
</form>
</html>